* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.row {
  width: 100%;
}
p {
  float: left;
  width: 80%;

  margin-right: auto;
  margin-left: 10px;
}
.main {
  background-color: gray;
  border: 2px solid black;
  display: inline-block;

  margin: 5px;
}

#chicken {
  text-align: center;
  width: 120px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  background-color: pink;
  float: right;
  font-weight: bold;
}
#sushi {
  text-align: center;
  width: 120px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  background-color: palegoldenrod;
  float: right;
  font-weight: bold;
}
#beef {
  text-align: center;
  width: 120px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  background-color: brown;
  color: #fff;
  float: right;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 30%;
  }
  .first {
    margin-left: 50px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-10 {
    width: 85.73%;
    /* height: 90px; */
  }

  .first,
  .second {
    margin-left: 50px;
  }
}
